<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="flex w-full h-screen justify-center items-center bg-blue-500">
    <div>
      <p class="text-center text-white font-bold text-3xl">
        Point of Sale System v1
      </p>
      <img src="assets/images/landing.png" alt="">
      <p class="text-center text-white font-bold text-xl">
        <ion-button color="light" [routerLink]="['/login']"><span class="text-blue-500 text-xl font-bold">Get Started <i class="fa-solid fa-arrow-right"></i></span></ion-button>
      </p>
    </div>
  </div>
</ion-content>
