<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>TSG-POS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="border-2 mx-5 my-2 rounded-xl px-5 flex space-x-5">
    <i class="fa-solid fa-magnifying-glass text-2xl mt-2" ></i>
    <ion-input placeholder="Search Products"></ion-input>
  </div>

  <ion-row>
    @for(item of items; track i ; let i = $index ){
      <ion-col sizeLg="3" sizeMd="4" sizeSm="6" sizeXl="3" sizeXs="6">
        <ion-card>
          <div class="px-5 py-2 flex justify-center">
            <ion-img [src]="item?.image"></ion-img>
          </div>
          <div class="h-24">
            <p class="text-center font-bold text-lg">{{item?.name}}</p>
            <div class="flex mx-5 justify-between gap-2">
              <p class=" text-lg text-blue-400">Php{{item?.price}}</p>
              <button class="bg-blue-500 rounded-3xl px-2 text-white"><i class="fa-solid fa-plus text-lg font-bold"></i></button>
            </div>
          </div>
        </ion-card>
      </ion-col> 
    }
    
  </ion-row>
</ion-content>
